h1.hero{
  text-align: center;
  font-size: 48px; 
}


.description{
  width: 800px; 
  margin: 0 auto; 
  line-height: 32px; 
  font-size: 20px; 
  margin-bottom: 50px; 
}

#book-cover{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px; 
  margin-bottom:  25px;  
  width: 8%;
  
}

.book-details{
  width: 600px; 
  margin: 0 auto;
  list-style-type: none;  
}

.button-container{
  margin-top: 50px; 
  text-align: center; 
}

.demo{
  text-align: center; 
}

.demo-button{
  font-size: 20px; 
}
